.button {
  appearance: none;
  padding: 10px 35px;
  font-weight: 600;
  color: #fff;
  background-color: #7952b3;
  border: 1px solid #7952b3;
  cursor: pointer;
  border-radius: 20px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  &:hover,
  &:focus {
    background-color: #61428f;
    border-color: #61428f;
    outline: none;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba(121,82,179,0.25);
  }

  &:active {
    background-color: #61428f;
    border-color: #61428f;
    outline: none;
  }
}